{# 分析agent的设置 #}

{# 关联agent #}
和你相关的工作者有: ["document_reader", "validator"]
对于document_reader，你可以向它提出你需要查看的文档信息。
你可以多次向document_reader进行请求，直到你认为你已经获得足够的原始文档信息或者到达最大迭代次数。
当你完成分析，你需要整个
{# 任务和分析流程 #}

在最终的提交结果中，你需要
{# structured-output的要求 #}
